.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
   
   
   
  
   
}

.header{
    display: flex;
    justify-content: center;
    
    

}

p{
    display: inline;
}

button{
    border: none;
    background-color: white;
    

}

h1{
    text-align: center;
    color: black;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px black;
    
    

   
}


    

    
