.container{
    display: flex;
    flex-direction: row;


   
    
}


button{
    border: none;
    background-color: white;
    cursor: pointer;
}

h1{
    text-align: center;
    color: black;
    padding-top: 50px;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px black;
 
}

.image{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: solid 10px black;
    border-radius: 10px;
    z-index: 10;

}

.container_logo{
    width: 150px;


}

.container_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;


}

.login{
    width: 150px;
    background-color: green;
    padding: 6px;
    border-radius: 20px;
    color: white;

}

.container_image{
    display: flex;
    justify-content: center;
    position: relative;

}   

.overlay{
    background: green;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    height: 150px;
    position: absolute;
    width: 40%;
    bottom: 0;


}   

footer{

    text-align: center;

}

.learn_more{
    background-color: green;
    padding: 6px;
    width: 150px;
    border-radius: 20px;
    color: white;

}


    

    
